.leaflet-container {
  width: 1000px;
  height: 1000px;
  margin: 10px;
}

.light-blue {
  filter: hue-rotate(0deg);
}
.aqua {
  filter: hue-rotate(-24deg);
}
.green {
  filter: hue-rotate(-48deg);
}
.lime-green {
  filter: hue-rotate(-72deg);
}
.light-yellow {
  filter: hue-rotate(-96deg);
}
.yellow {
  filter: hue-rotate(-120deg);
}
.gold {
  filter: hue-rotate(-144deg);
}
.orange {
  filter: hue-rotate(-168deg);
}
.red-orange {
  filter: hue-rotate(-192deg);
}
.red {
  filter: hue-rotate(-216deg);
}
.dark-pink {
  filter: hue-rotate(-240deg);
}
.pink {
  filter: hue-rotate(-264deg);
}
.magenta {
  filter: hue-rotate(-288deg);
}
.purple {
  filter: hue-rotate(-312deg);
}
.deep-purple {
  filter: hue-rotate(-336deg);
}

.default-marker {
  margin-left: -12.5px !important;
  margin-top: -41px !important;
}
